In [1]:
# datatypes
x = 2
print( type(x) )

x = 2.5
print( type(x) )

x = 'Sadikur Senpai'
print( type(x) )

x = True
print( type(x) )

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [2]:
# python is case-sensitive, 'name' and 'Name' are different;   
# '' & "" work same
name = "Sadikur" 
Name = 'Senpai'

print(name, Name)

Sadikur Senpai

In [3]:
# Illegal variable names:
# 2myvar = "John"
# myâˆ’var = "John"
# my var = "John

2myvar = 'John'
print(2myvar)

SyntaxError: invalid decimal literal (3714318713.py, line 6)

In [1]:
# typecasting
x = 2.5
print(x)
x = int(x)
print(x)

2.5
2

In [2]:
# user input
num = input("Enter a number : ")   # by taking user input we get string, but we can typecast it as we wish
print( type(num) )   

num = int(num)
print( type(num) )

# other way to do it
num = int(input("Enter a number : "))    
print( type(num) )

Enter a number : 7
<class 'str'>
<class 'int'>
Enter a number : 7
<class 'int'>

In [4]:
# Arithmetic operators
ans = 10 + 6      # Addition
print(ans)
ans = 10 - 6      # Subtraction
print(ans)
ans = 10 * 6      # Multiplication
print(ans)
ans = 10 ** 6     # Exponentiation
print(ans)
ans = 10 / 6      # Division
print(ans)
ans = 10 // 6     # Floor division
print(ans)
ans = 10 % 6      # Modulus
print(ans)

16
4
60
1000000
1.6666666666666667
1
4

In [5]:
x = 5
x += 3  # x += means x = x +
print(x)

8

In [6]:
# write a program to calculate area of a rectangle
length = int(input("Enter the length of a rectangle : "))
breadth = int(input("Enter the breadth of a rectangle : "))
area = length * breadth
print(f"The area of the rectangle is {area}")

Enter the length of a rectangle : 7
Enter the breadth of a rectangle : 2
The area of the rectangle is 14

In [7]:
# write a program to check whether a number is even or odd
num = int(input("Enter a number : "))
if num%2 == 0:
    print("Even!")
else:
    print("Odd!")

Enter a number : 7
Odd!

In [8]:
# write a program to find maximum among three numbers
first_num = int(input("Enter the first number : "))
second_num = int(input("Enter the second number : "))
third_num = int(input("Enter the third number : "))

if first_num >= second_num and first_num >= third_num:
    print(f"Maximum : {first_num}")
elif second_num >= third_num:
    print(f"Maximum : {second_num}")
else:
    print(f"Maximum : {third_num}")

Enter the first number : 10
Enter the second number : 30
Enter the third number : 20
Maximum : 30

In [9]:
i = 1
while i <= 5:
    print(i)
    i += 1

1
2
3
4
5

In [11]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [12]:
# Write a python program to find the sum of all numbers between 50 and 100, which are divisible by 3 and
# not divisible by 5.
sum = 0
for num in range(50,101):
    if num%3 == 0 and num%5 != 0 :
        sum += num
print(sum)

1050

In [15]:
# Write a python program to generate Fibonacci series.
n = int(input("Enter Nth term : "))
first_num = 0
second_num = 1
print(f"{first_num} {second_num} ", end = "")
n -= 2
for i in range(n):
    third_num = first_num + second_num
    print(f"{third_num} ", end = "")
    first_num = second_num
    second_num = third_num

Enter Nth term : 10
0 1 1 2 3 5 8 13 21 34

In [18]:
# Write a python program to add two numbers
def add_these(n1, n2):
    return n1+n2

print(add_these(2,3))

5

In [20]:
# Write a python program to add multiple numbers
def add_these(*n):
    summation = 0
    for num in n:
        summation += num
    return summation

print(add_these(2,3,4,5))

14